body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #111;
}

#logo {
  margin-bottom: 10px;
}

.lshadow {
  -webkit-filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
}

hr {
  background-color: rgba(255,255,255,0.2);
  height: 2px;
}

.weathertext {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;

}

.credit {
  color: white;
}

.br {
  text-align: right;
}

.underline {
  border-bottom: 2px solid white;
  color: inherit;
  text-decoration: inherit;
}

.container {
  height: 85vh;
}

.container.credit {
  height: 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
